spring:
  application:
    name: challengue

  r2dbc:
    url: r2dbc:h2:mem:///testdb
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    driver-class-name: org.h2.Driver
